    <!-- SideBar -->
<aside id="sidebar" class="sidebar">
    <!-- Place your Content Here! -->
    <section class="sidebar__userinfo">
        <div class="d-flex justify-content-start align-items-center">
            <!-- userphoto -->
            <div class="sidebar__userinfo__photo">
                <img src="../images/loader.gif" width="50" height="50" alt="" loading="lazy">
            </div>
            <!-- username -->
            <div class="sidebar__userinfo__name ml-3 text-light">
                <h5>Mohamed Benali</h5>
                <small class="text-muted">Web Developer</small>
            </div>
        </div>
        <hr>
        <div class="sidebar__userinfo__links">
            <ul>
                <li>
                    <i class="fas fa-book-open"></i>
                    <a href="#">
                        All Libraries
                    </a>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                    <a href="#">
                        Favourite Books
                    </a>
                </li>
                <li>
                    <i class="fas fa-calendar-week"></i>
                    <a href="#">
                        Reading schedule
                    </a>
                </li>
                <li>
                    <i class="fas fa-user-cog"></i>
                    <a href="#">
                        Settings
                    </a>
                </li>
                <li>
                    <i class="fas fa-sign-out-alt"></i>
                    <a href="#">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </section>
</aside>
<!-- Sidebar -->