@model TCC.Candle.Web.ViewModels.Shelf.FormViewModel

<!-- Content -->
<section class="container ">
    <!-- Spacer: push the content down -->
    <div class="row">
        <div class="my-5r"></div>
    </div>
    <!-- Spacer -->
    <!-- Book Form -->
    <form asp-action="Create" asp-controller="Shelf" asp-antiforgery="true">


        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="LibraryId" />

        <div class="row justify-content-between shadow-sm mb-5 p-5">
            <!-- Form Title -->
            <div class="col-12">
                <h1>Create a new book</h1>
                <hr class="mb-5">
            </div>
            <!-- End of Form Title -->
            <!-- Image Uploader -->
            <div class="col-12 col-md-5 order-2 order-md-1">
                <div class="d-flex flex-column h-100 justify-content-start">
                    <div class="ImagePreview order-2 order-md-1">
                        <img src="http://via.placeholder.com/600x700" alt="Book Cover Preview" />
                        <div class="form-group order-1 order-md-2 my-4">
                            <label for="exampleFormControlFile1">Upload Cover</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </div>

                    <div class="form-row order-3 mt-3 ">
                        <button type="submit" class="btn btn-block btn-outline-primary mb-2">Save </button>
                    </div>

                </div>
            </div>
            <!-- End of Image Uploader -->
            <!-- Book Creation form -->
            <div class="col-12 col-md-6 order-1 order-md-2">
                <div class="form-row">
                    <div class="form-group col-12 col-lg-10">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Title*">
                        <span asp-validation-for="Title"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12 col-lg-10">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Description"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div asp-validation-summary="ModelOnly"></div>
                </div>
            </div>
            <!-- End of Book Form -->

        </div>
        <!-- End of Book Creation Form -->
    </form>
</section>

@section styles
    {
    <link rel="stylesheet" href="/static/styles/pages/form.css" />
}
